{% extends "base.html" %}
{% block css %}

<style type="text/css">
</style>

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row xui-nav-row">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#h2_navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'squares' %}">H2</a>
            </div>
            <div class="collapse navbar-collapse" id="h2_navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'squares' %}">广场</a></li>
                    <li><a href={% url 'blogs' %}>博客</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">工具 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">未开发1</a></li>
                            <li><a href="#">未开发2</a></li>
                            <li><a href="#">未开发3</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">未开发4</a></li>
                        </ul>
                    </li>
                    <li><a href={% url 'account' %}>
                        欢迎
                        {% if profile.nickname %}
                            {{profile.nickname}}
                        {%else%}
                            {{request.user.username}}
                        {%endif%} </a>
                    </li>
                    <li>
                        <a href={% url 'dashboard_stat'%}>
                            <span class="glyphicon glyphicon-cog xui-dashboard" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href={% url 'logout' %} >
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜点啥...">
                        <a href={% url 'logout' %} >
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    {% if siderbar %}
    <div class="list-group col-md-2">
        <a  id="sider_stat"
            href={% url 'dashboard_stat' %}
            class="list-group-item {%if siderbar_name == "sider_stat" %}active{% endif %}">
            统计
        </a>
        <a  id="sider_comments"
            href={% url 'dashboard_comments' %}
            class="list-group-item {%if siderbar_name == "sider_comments" %}active{% endif %}">
            评论
        </a>
        <a  id="sider_blogs"
            href={% url 'dashboard_blogs' %}
            class="list-group-item {%if siderbar_name == "sider_blogs" %}active{% endif %}">
            管理博客
        </a>
        <a  id="sider_trash"
            href={% url 'dashboard_trash' %}
            class="list-group-item {%if siderbar_name == "sider_trash" %}active{% endif %}">
            垃圾桶
        </a>
        <a  id="sider_filter"
            href={% url 'dashboard_filter' %}
            class="list-group-item {%if siderbar_name == "sider_filter" %}active{% endif %}">
            智能过滤
        </a>
    </div>
    {% endif %}
    {% block content_base %}{% endblock %}
    <div class="row col-md-12 col-sm-12 xui-footer-row">
        <hr>
        <footer class="col-md-2 col-sm-2">
            <p>&copy; Mark24 2016</p>
        </footer>
    </div>
</div>
{% endblock %}

