{% extends "content_base.html" %}

{% block content_base %}
<div class="row col-md-12 col-sm-12 xui-content-row">
    <div class="col-md-7 col-md-offset-1 xui-leftbox">
        <div class="row">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    Blog List
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1 xui-rightbox">
        <div class="row xui-userinfo">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    User Info
                </div>
            </div>
        </div>
        <div class="row xui-writeblog">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    write blog
                </div>
            </div>
        </div>
        <div class="row xui-infotips">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    Tips
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
