{% extends "content_base.html" %}

{% block content_base %}
<div class="row col-md-12 col-sm-12 xui-content-row">
    <div class="col-md-7 col-md-offset-1 xui-leftbox">
        <div class="row">
            <div class="col-md-12 xui-panel_box">
            {% for item in items %}
                <div class="panel panel-default" id="{{item.blog_id}}">
                    <div class="panel-heading">
                        标题：{{item.title}}
                    </div>
                    <div class="panel-body">
                        {{item.content}}
                    </div>
                    <div class="panel-footer">
                        创建于：{{item.created_at}}
                        {% if item.tag %} | 分类：{{item.tag}} {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1 xui-rightbox">
        <div class="row xui-userinfo">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    <div>
                    {% if profile.nickname %}
                        {{profile.nickname}}
                    {%else%}
                        {{request.user.username}}
                    {%endif%}
                    </div>
                    <div>
                        个性签名:{{profile.signature}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row xui-writeblog">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                <a href={% url 'blog' %}>写博客</a>
                </div>
            </div>
        </div>
        <div class="row xui-infotips">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    不知道方点啥
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
