{% extends "content_base.html" %}

{% block content_base %}
<div class="row col-md-12 col-sm-12 xui-content-row">
    <div class="col-md-7 col-md-offset-1 xui-leftbox">
        <div class="row">
            <div id="blogs_handlebars_container" class="col-md-12 xui-panel_box"></div>
        </div>
    </div>
    <div class="col-md-3 col-md-offset-1 xui-rightbox">
        <div class="row xui-userinfo">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    <div>
                    {% if profile.nickname %}
                        {{profile.nickname}}
                    {%else%}
                        {{request.user.username}}
                    {%endif%}
                    </div>
                    <div>
                        个性签名:{{profile.signature}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row xui-writeblog">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                <a href={% url 'blog' %}>写博客</a>
                </div>
            </div>
        </div>
        <div class="row xui-infotips">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    不知道方点啥
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block js %}

{% verbatim %}
<script id="blogs_list-template" type="text/x-handlebars-template">
{{#each items}}
    <div class="panel panel-default" id="{{blog_id}}">
        <div class="panel-heading">
            标题：<a href="/blogs/blog/?id={{../user_id}}&blog_id={{blog_id}}">{{title}}</a>
        </div>
        <div class="panel-body">
            {{content}}
        </div>
        <div class="panel-footer">
            创建于：{{created_at}}
            {{#if tag}} | 分类：{{tag}} {{/if}}
            | <a href="/blogs/blog/?id={{../user_id}}&blog_id={{blog_id}}&edit=1">编辑</a>
        </div>
    </div>
{{/each}}
</script>
{% endverbatim %}


<script type="text/javascript">
var user_id = '{{request.user.id}}';
var items = {{items|safe}};
var data = {items:items,user_id:user_id};

var temple = $('#blogs_list-template').html();
var compile_temple = Handlebars.compile(temple);
var temple_html = compile_temple(data);
$('#blogs_handlebars_container').html(temple_html);
</script>
{% endblock %}
