{% extends "content_base.html" %}

{% block content_base %}
<div class="row col-md-11 col-sm-11 xui-content-row">
    <div class="col-md-8 col-md-offset-1 xui-leftbox">
        <div class="row">
            <div id="blogs_handlebars_container" class="col-md-12 xui-panel_box"></div>
            <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
        </div>
    </div>
    <div class="col-md-3 xui-rightbox">
        <div class="row xui-userinfo">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    <div>
                    {% if profile.nickname %}
                        {{profile.nickname}}
                    {%else%}
                        {{request.user.username}}
                    {%endif%}
                    </div>
                    <div>
                        个性签名:{{profile.signature}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row xui-writeblog">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                <a href={% url 'blog' %}>写博客</a>
                </div>
            </div>
        </div>
        <div class="row xui-infotips">
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    不知道方点啥
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block js %}

{% verbatim %}
<script id="blogs_list-template" type="text/x-handlebars-template">
{{#each items}}
<div class="panel panel-default" id="{{blog_id}}">
    <div class="panel-body">
        标题：<a href="/blogs/blog/?id={{../user_id}}&blog_id={{blog_id}}">{{title}}</a>
    </div>
    <div class="panel-footer">
        创建于：{{created_at}}
        {{#if tag}} | 分类：{{tag}} {{/if}}
        | <a href="/blogs/blog/?id={{../user_id}}&blog_id={{blog_id}}&edit=1">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </div>
</div>
{{/each}}
</script>
{% endverbatim %}


<script type="text/javascript">
var user_id = '{{request.user.id}}';


// API Data
$(document).ready(function() {
    //blogs
    $.ajax({
        url:'/blogs/api/',
        type:'get',
        data:{
            'user_id':user_id
        },
        success:function(resp){
            console.log(resp);
            if(resp.code==200){
                console.log('获取数据成功！');
                var data = resp.data;
                get_blogs(data.items);
            }else{
                console.log('获取数据失败！');
            }
        },
        error:function(resp){
            console.log('连接服务器失败，请重试！');
        }
    });
});

function get_blogs(data){
    //耦合性过强，待整合，和搜索列表
    var items = data;
    var data = {items:items,user_id:user_id};

    var temple = $('#blogs_list-template').html();
    var compile_temple = Handlebars.compile(temple);
    var temple_html = compile_temple(data);
    $('#blogs_handlebars_container').html(temple_html);

}

</script>
{% endblock %}
