{% extends "content_base.html" %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}
{% block content-panel %}

<!-- <div class="sidebar col-md-2">
    <ul class="nav nav-pills nav-stacked ">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div> -->

<div class="xui-content-panel col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        Basic panel example
      </div>
    </div>
</div>
{% endblock %}