{% extends "content_base.html" %}

{% block content-panel %}
<div class="xui-content-panel">
    <div class="xui-editor">
        <div class="row xui-i-title ">
            <input type="text" class="form-control" placeholder="Text input">
        </div>
        <div id="uploadfiles-container">
            <ul id="filelist"></ul>
            <input type="button" id="pickfiles" value="[选择文件]"></input>
            <input type="button" id="uploadfiles" value="[点击上传]"></input>
        </div>
        <div class="row xui-i-editor">
            <script id="editor" name="content" type="text/plain">
            </script>
        </div>
    </div>
    <div class="row btn-panel">
        <button type="button" class="btn btn-default">取消</button>
        <button type="button" class="btn btn-primary">保存</button>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/ueditor/my-party/TheUploader.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor',{
        toolbars:[
            ['fullscreen','uiName']
        ]
    });
</script>
{% endblock %}
